

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: hsla(0, 0, 70%, 100%);
}
.centerGif{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 1600px) {
    .css-k008qs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MuiBox-root .css-1f50k7l{ 
        display: flex ;
        flex-direction: row;
        overflow: auto;
        width: 1000px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 1000px) {

    .MuiBox-root .css-1f50k7l{ 
        width: 600px;
    }
    .css-1v1tu1a{
        font-size: 12px;
        max-height: fit-content;
    }
    .css-1pmpc6y-MuiInputBase-root-MuiInput-root{
        width: 100px;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {

    .MuiBox-root .css-1f50k7l{
        width: 400px ;
    }

    .css-aaj8as{
        flex-wrap: wrap;
        gap: 20px;
    }

    h2{
        font-size: 1rem;
    }
    .MuiBox-root .css-byquje{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
        padding: 5px;
    }
}